<div class="product-grid">
  <div class="product-card" *ngFor="let product of products">
    <img [src]="product.imageLink" alt="{{ product.name }}" class="product-image">
    <div class="product-details">
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-category">{{ product.category }}</p>
      <div class="product-pricing">
        <span class="final-price">${{ product.finalPrice }}</span>
        <span class="original-price">${{ product.originalPrice }}</span>
        <span class="discount">{{ product.discount }}% off</span>
      </div>
      <div class="product-ratings">
        <span class="ratings">{{ product.ratings }} ★</span>
      </div>
      <div class="product-cart">
        
      </div>
    </div>
  </div>
</div>
