<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signoraware - Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    <!-- Header Section -->
    

    <!-- Main Section -->
 <main class="about-section">
            <h2>About Us</h2>
            <p>
                Signoraware is determined to provide best products to the global market. With experience of over 3 decades, Signoraware has launched best quality Microwave Crockery at the most economical price by using best technology, computerized designs & competitive price strategy. Company have it's own R & D section with CNC machines to design and develop their own moulds with latest technology.</p>
            <p>
                M/s Techno Plastic Industries is a part of 'Signora Group of Companies'. Signora Appliances was formed in 1981 by Sh. Y.K. Bansal an Electrical Engineer. Since then the company has been manufacturing & marketing a very big range of products, such as Food Processor, Mixer Grinder, Juicer, Microwave Oven, chopper, Toaster, Steam Iron, Ceiling Fan, Heat Pillar, Induction Cooker & R.O. System etc. under the brand name 'Signora'.</p>
            <p>
                Company is making 'SignoraWare' brand 100% Food Grade crockery for Microwave, Air & Liquid tight containers and Lunch Boxes. Total range for high quality products have been launched all over India and also available in almost all outlets of the country.
            </p>
            <p>
                'SignoraWare' is manufactured by adopting modern technology and special grade raw material. SignoraWare assures best of its quality, yet at such a competitive price. Globally we are supplying to various markets and trying to develop the global foot print of SignoraWare in International Markets.
            </p>
            <p>
                Techno Plastic Industries is committed to provide best range of products to its customers and achieve customer satisfaction to its best. Your valuable and relevant suggestions are always welcome on customercare signoraware.com
            </p>
        
        
    </main>
    


</body>
</html>
